# Project-specific .gitignore
# 
# Everything specific to your OS, IDE, etc.. should go into your global .gitignore
# (usually found at $HOME/.gitignore)

# Create a cleaner repository on github

# Folders
bin
obj
Properties

# Files
App.config
LeetCodeMath.csproj